* {
    box-sizing: border-box;
}

#pauseButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pauseButton:hover {
    background-color: #555;
}
